/*Le damos la fuente a la página web*/
body {
  font-family: sans-serif;
}

/*Le quitamos el estilo predeterminado por el navegador*/
nav {
  /*outline: 1px solid yellow;*/
  list-style: none;
}

ul {
  /*outline: 1px solid blue;*/
  padding: 0;
  margin: 0;
  background: #2e2e2a;
  line-height: 40px;

}

li {
  /*outline: 1px solid red;*/
  width: 100px;
  display: inline-block;
  text-align: center;
}


a {
  /*outline: 1px solid green;*/
  text-decoration: none; /*quitamos subrayado*/
  color:white;
  display: block;
}

/*le damos estilo a nuestro enlaces en estado hover*/
a:hover {
  background: #f9a91a;
  color: #000;
}
